#greenBox {
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: green;
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

#blueBox {
  margin: auto;
  width: 300px;
  /* height: 200px; */
  background-color: blue;
}
