h1 {
  font-size: 300%;
  margin: auto;
  text-align: center;
}

#explanation {
  background-color: #B88DD2;
  text-align: center;
  margin: auto;
  padding: 20px;
}

#config {
  background-color: #B88DD2;
  text-align: center;
  padding: 5px;
}

#config p {
  font-size: 120%;
  font-weight: bold;
  text-decoration: underline;
  margin: 5px;
  padding: 2px;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  /* 疑似クラス + 隣接セレクタ */
  border: 3px solid #434343;
  background-color: #9DD9FE;
}

label {
  display: inline;
  margin: 2px;
  padding: 3px 15px;
  border: 3px dashed #434343;
  background-color: #DBDBDB;
  border-radius: 10px;
}

select {
  font-size: 110%;
  padding: 5px 15px;
  border: 3px solid #434343;
  background-color: #9DD9FE;
  border-radius: 10px;
}


#start {
  text-align: center;
  margin: auto;
  padding: 5px;
}

#startButton {
  font-size: 120%;
  font-weight: bold;
  background-color: #F17B9C;
  text-align: center;
  padding: 10px 20px;
  border: 3px solid #434343;
  border-radius: 10px;
}