h1 {
  font-size: 200%;
  margin: auto;
  text-align: center;
}
#config {
  text-align: center;
}
#config p{
  font-weight: bold;
  margin: 5px;
}
#footer {
  text-align: center;
}

#footer button {
  font-size: 100%;
  font-weight: bold;
  background-color: #F17B9C;
  text-align: center;
  padding: 5px 15px;
  border: 3px solid #434343;
  border-radius: 10px;
}
#configCamera {
  text-align: center;
}
#configCamera button {
  font-size: 100%;
  font-weight: bold;
  background-color: #F17B9C;
  text-align: center;
  padding: 5px 15px;
  border: 3px solid #434343;
  border-radius: 10px;
}


#playerArea {
  margin: auto;
  width: 400px;
  height: 200px;
  background-color: green;
  text-align: center;
}

#cpuArea {
  margin: auto;
  width: 400px;
  height: 200px;
  background-color: blue;
  text-align: center;
}

#LogArea {
  margin: auto;
  width: 400px;
  height: 100px;
  background-color: pink;
  text-align: center;
}

.rspButton {
  margin: auto;
  width: 70px;
  height: 50px;
  background-color: lightblue;
  text-align: center;
  border: solid black;
}

#hand {
  margin: auto;
  width: 70px;
  height: 50px;
  background-color: lightgreen;
  text-align: center;
  border: solid black;
}

#cpuButton {
  margin: auto;
  width: 70px;
  height: 50px;
  background-color: lightgreen;
  text-align: center;
  border: solid black;
}

#video {
  margin: auto;
  width: 200px;
  height: 150px;
  background-color: lightgreen;
  text-align: center;
  border: solid black;
}