h1 {
  font-size: 200%;
  margin: auto;
  text-align: center;
}

#config {
  text-align: center;
}

#config p {
  font-weight: bold;
  margin: 5px;
}

#footer {
  text-align: center;
}

#footer button {
  font-size: 100%;
  font-weight: bold;
  background-color: #F17B9C;
  text-align: center;
  padding: 5px 15px;
  border: 3px solid #434343;
  border-radius: 10px;
}

#configCamera {
  text-align: center;
}

#configCamera button {
  font-size: 100%;
  font-weight: bold;
  background-color: #F17B9C;
  text-align: center;
  padding: 5px 15px;
  border: 3px solid #434343;
  border-radius: 10px;
}

#playerArea {
  margin: auto;
  width: 400px;
  height: 300px;
  background-color: #9DD9FE;
  text-align: center;
  border: 3px solid #434343;
}

#cpuArea {
  margin: auto;
  width: 400px;
  height: 100px;
  background-color: #FCBFD4;
  text-align: center;
  border: 3px solid #434343;
  display: flex;
}

#LogArea {
  margin: auto;
  width: 400px;
  height: 100px;
  background-color: #DCDCDC;
  text-align: center;
  border: 3px solid #434343;
}

.rspButton {
  width: 100px;
  height: 100px;
  /* background-color: #EFEFEF; */
  text-align: center;
  /* border: solid black; */
  margin: 10px;
  padding: 0;
}

.rspButton img {
  height: 100%;
}


#hand {
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: #b0fa89;
  text-align: center;
  border: 0.5px solid black;
  border-radius: 10px;
}

#cpuButton {
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: #b0fa89;
  text-align: center;
  border: 0.5px solid black;
  border-radius: 10px;
}

#video {
  margin: 10px auto;
  width: 280px;
  height: 210px;
  background-color: #b0fa89;
  text-align: center;
  border: solid black;
}